body {
    font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
    color: #424242;
    a {
        color: #424242;
        background-color: transparent;
        text-decoration: none;
        display: inline-block;
    }
}
#site {
    #main-view-area {
        overflow: hidden;
        min-height: 100vh;
        #site-header {
            width: 100vw;
            height: 250px;
            display: flex;
            .site-header-holder {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 0 auto;
            }
            #logo {
                width: 70px;
            }
        }
        nav {
            ul {
                display: flex;
                .nuxt-link-active {
                    a {
                        color: #424242;
                    }
                }
                li {
                    letter-spacing: 0.3rem;
                    margin-right: 48px;
                    a {
                        color: #BDBDBD;
                    }
                }
                li:last-child {
                    margin: 0;
                }
            }
        }
    }
    #content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
        #primary {
            width: 50%;
            main {
                margin: 0 auto;
                h4 {
                    font-weight: 100;
                    color: #616161;
                    margin-bottom: 8px;
                }
                h1 {
                    margin-bottom: 10px;
                }
                .small-intro {
                    color: #212121;
                    letter-spacing: 0.082rem;
                }
            }
        }
    }
    .content-wrapper {
        width: 83%;
        margin: 0 auto;
        h2 {
            font-size: 43px;
            margin-bottom: 40px;
        }
        #works {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,4fr);
            grid-column-gap: 1.66%;
            grid-row-gap: 100px;
            .card {
                transition: 0.5s;
                    .card-thumbnail {
                        width: 100%;
                    }
                    .card-title {
                        font-size: 18px;
                        color: #555;
                        margin-top: 10px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.5;
                    }
                    .card-role {
                        color: #999;
                        margin-top: 5px;
                        font-weight: 400;
                        font-size: 14px;
                    }
            }
            .card:hover {
                opacity:  0.7; 
            }
        }
    }
}
footer {
    width: 100%;
    margin-top: 10%;
    border-top: solid 1px #BDBDBD;
    padding: 100px 80px;
    .footer-name {
        font-size: 2rem;
        font-weight: bold;
        margin-right: 16px;
    }
    .copyright {
        font-size: 1.6rem;
    }
    .caption {
        font-size: 1.3rem;
        color: #BDBDBD;
    }
}