body {
    font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;;
    a {
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        display: inline-block;
    }
}
#site {
    #main-view-area {
        overflow: hidden;
        min-height: 100vh;
        flex-direction: column;
        transition: all 435ms cubic-bezier(.72,.17,.29,.87);
        position: relative;
        left: 0;
        top: 0;
        #site-header {
            width: 100vw;
            height: 250px;
            display: flex;
            .site-header-holder {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 0 auto;
            }
            #logo {
                width: 70px;
            }
        }
    }
}