body {
    font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
    color: #424242;
    a {
        color: #424242;
        background-color: transparent;
        text-decoration: none;
        display: inline-block;
    }
}
#site {
    #main-view-area {
        overflow: hidden;
        min-height: 100vh;
        #site-header {
            width: 100vw;
            height: 250px;
            display: flex;
            .site-header-holder {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 0 auto;
            }
            #logo {
                width: 70px;
            }
        }
        nav {
            ul {
                display: flex;
                .nuxt-link-active {
                    a {
                        color: #424242;
                    }
                }
                li {
                    letter-spacing: 0.3rem;
                    margin-right: 48px;
                    a {
                        color: #BDBDBD;
                    }
                }
                li:last-child {
                    margin: 0;
                }
            }
        }
    }
    #content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -200px;
        #primary {
            width: 50%;
            main {
                margin: 0 auto;
                h4 {
                    font-weight: 100;
                    color: #616161;
                    margin-bottom: 8px;
                }
                h1 {
                    margin-bottom: 10px;
                }
                .small-intro {
                    color: #212121;
                    letter-spacing: 0.082rem;
                }
            }
        }
    }
    .content-wrapper {
        width: 83%;
        margin: 0 auto;
        h2 {
            font-size: 43px;
            margin-bottom: 40px;
        }
        #works {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,4fr);
            grid-column-gap: 1.66%;
            grid-row-gap: 100px;
            .card {
                transition: 0.5s;
                    .card-thumbnail {
                        width: 100%;
                    }
                    .card-title {
                        font-size: 18px;
                        color: #555;
                        margin-top: 10px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.5;
                    }
                    .card-role {
                        color: #999;
                        margin-top: 5px;
                        font-weight: 400;
                        font-size: 14px;
                    }
            }
            .card:hover {
                opacity:  0.7; 
            }
        }
    }
}

footer {
    width: 100%;
    margin-top: 10%;
    border-top: solid 1px #BDBDBD;
    padding: 100px 80px;
    .footer-name {
        font-size: 2rem;
        font-weight: bold;
        margin-right: 16px;
    }
    .copyright {
        font-size: 1.6rem;
    }
    .caption {
        font-size: 1.3rem;
        color: #BDBDBD;
    }
}

// works_style
.work-image {
    width: 100%;
    margin-bottom: 80px;
}
.outer-moat {
    width: 83%;
    margin: 0 auto;
    h1 {
        text-align: center;
        line-height: 1.7
    }
    .works-year {
        font-size: 18px;
        font-weight: 400;
        display: block;
        margin-top: 20px;
        color: #9E9E9E;
        margin-bottom: 80px;     
    }
    p {
        margin: 0 auto;
        width: 66.7%;
        max-width: 793px;
        font-size: 18px;
        line-height: 1.7;
    }
    dl {
        margin: 40px auto 120px;
        width: 66.7%;
        max-width: 793px;
        font-size: 18px;
        line-height: 1.7;
        dt {
            color: #9E9E9E;
            margin-bottom: 5px;
        }
        dd {
            margin-left: 0;
        }
        .work-meta {
            margin-top: 24px;
        }
        .work-post {
            color: #9E9E9E;
        }
    }
    .main-post-area {
        width: 66.7%;
        margin: 0 auto;
        h2 {
            text-align: center;
            margin-bottom: 80px;
        }
        .works-contents-area {
            margin-bottom: 140px;
            .works-media {
                max-width: 1080px;
                margin-right: auto;
                margin-left: auto;
            }
            .works-description {
                margin-top: 40px;
                .description {
                    margin-top: 2em;
                }
            }
            .works-caption {
                margin: 8px 0 80px;
                font-size: 14px;
                line-height: 1.7;
                display: block;
                text-align: center;
                color: #9E9E9E;
            }
        }
    }
}